<div class="{{ if background }} dark bg-rangitoto-800 {{ /if }}">
    <img src="{{ image.url }}" alt="{{ image.alt }}" 
         class="w-full h-full object-cover aspect-[9/16] lg:aspect-[7/3]" 
         x-data="scaleUpOnScroll">
</div>

<script defer>
    document.addEventListener('alpine:init', () => {
        Alpine.data('scaleUpOnScroll', () => ({
            init() {
                gsap.registerPlugin(ScrollTrigger); // Register ScrollTrigger

                // Create a timeline
                const tl = gsap.timeline({
                    scrollTrigger: {
                        trigger: this.$el,
                        start: "top bottom",
                        end: "+=1000", 
                        scrub: true,         // Sync animation with scroll
                    }
                });

                // First animation: Fade in and move up
                tl.fromTo(this.$el, {
                    opacity: 0,
                    y: 100,
                    scale: 0.5,
                }, {
                    opacity: 1,
                    y: 0,
                    scale: 0.5,
                });

                // Second animation: Scale up
                tl.to(this.$el, {
                    scale: 1, 
                });
            }
        }));
    });
</script>
