<div class="w-full py-10 lg:py-32 flex flex-col gap-10 lg:gap-32">
    <div class="z-20 w-full px-4 lg:px-20 grid grid-cols-2 lg:grid-cols-8 gap-6 items-center">

        <div class="col-span-2 lg:col-span-4 background"  data-speed="0.4">
            <img src="{{ images:0.url }}" alt="{{ images:0.alt }}" class="w-1/2 mx-auto lg:m-0 lg:w-full aspect-square lg:aspect-video background object-cover" data-speed="0.4">
        </div>

        <img src="{{ images:1.url }}" alt="{{ images:1.alt }}" class="col-span-2 lg:col-span-3 lg:col-start-6 h-full object-cover background" data-mobile-speed="1.5">

    </div>

    <div class="z-20 w-full px-4 lg:px-20 grid grid-cols-2 lg:grid-cols-8 gap-20 lg:gap-6 items-end">

        <img src="{{ images:2.url }}" alt="{{ images:2.alt }}" class="col-span-1 lg:col-span-3 object-cover aspect-[3/2] background" data-speed="0.6">

        <img src="{{ images:2.url }}" alt="{{ images:2.alt }}" class="col-span-2 lg:col-span-3 lg:col-start-6 background object-cover" data-speed="0.6">

    </div>
</div>